.recipeCard {
  width: 100%;
  cursor: pointer;
  background-color: #fdf5df;
  border: solid 2px #5ebec4 !important;
}

.recipeCard img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  transition: transform 0.2s;
}
.recipeCard .iconInfo {
  color: #5ebec4;
}
@media only screen and (min-width: 320px) {
  .recipeCard img {
    height: 70vw;
  }
}
@media only screen and (min-width: 600px) {
  .recipeCard img {
    height: 50vw;
  }
}
@media only screen and (min-width: 768px) {
  .recipeCard img {
    height: 25vw;
  }
}
.imgContainer {
  overflow: hidden;
}
.card-body {
  border-top: 2px solid #5ebec4;
}
.card-body h5 {
  color: #5ebec4;
}
.recipeCard:hover h5 {
  color: #f92c85;
}
.recipeCard a {
  color: #000;
  text-decoration: none;
}
