.popover__title {
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
  position: relative;
  display: block;
}
.popover__wrapper span i {
  color: #fff !important;
  cursor: pointer;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -80px;
  top: -110px;
  transform: translate(0, 10px);
  background-color: #5ebec4;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  width: auto;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}
.popover__content p {
  font-size: 13px;
  color: #000 !important;
}
